:root {
  --negro: #393939;
  --yellow: #fce994; 

}

/* ________________Reset __________________ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
img{
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
    object-fit: cover;
  /* opcional */
    object-position: center center;
}
input, button {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  appearance: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
}
/* ________________________________________ */

.app-container {
  display: flex;
  flex-direction: column;
  width:  320px;
  height: auto;
  padding: 28px 0;
  margin: 20px 0;
  border: 6px solid black;
  border-radius: 15px;
  gap: 40px;
  

}

header {
  display: flex;
  justify-content: center;
  min-height: 20px;
  font-size: 16px;
  font-weight: bold;

}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px ;
  padding: 0 22px 0 22px;
}

.add_todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 46px;
}
.box   {
  width: 268px ;
  height: 42px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fce994;
}

.add_todo-input  {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 270px;
  min-height: 36px;
  position: absolute;
  padding-right: 4px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

.todo-input {
  width: 90%;
  padding-bottom: 2px;
  padding-left: 6px;
}
.todo-input:focus {
  outline: none;
}

.add_buttom {
  width: 20px;
  cursor: pointer;
}

.todoList-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;


}

.todoList-container h2{
  font-size: 16px;
}

.todoList-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.todoCards-Container {
  width: 100%;
  height: max-content;
  list-style: none;
}

.todo-card {
  display: flex; 
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 270px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  gap: 10px;
  position: absolute;
}

.box1 {
  height: 56px;
  background-color: #db94fc;
}

.check-card {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(0, 0, 0);
}

.check-card:hover {
  background-color: rgb(177, 255, 177);
}

.texts-card {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 10px;
}

.text-icon {
  font-size: 20px;
}

.text-p {
  font-weight: bolder;
}

.delete_buttom {
  width: 20px;
  cursor: pointer;
}

/* _______________ Footer _________________ */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 22px;
}

footer div {
  width: 100%;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

.box2 {
  width: 269px;
  height: 36px;
  background-color: rgb(255, 174, 174);
  border-radius: 12px;
}

.footer_p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 270px;
  padding: 4px;
  background-color: white;
    
}

.completed {
  background-color: rgb(177, 255, 177);
}
